In [1]:
# Create Spark Session

from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Pyspark Project") \
    .master("local[*]") \
    .getOrCreate()

spark

In [2]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

### LOAD ALL THE DATA

In [11]:
# Read the products csv file into dataframe

products = spark.read.format("csv").option("header", True).option("inferSchema", True).load("data/tables/products.csv")

In [12]:
# display products dataframe
products.show(truncate=False)

+---------+-------------------------------+----------+----------+--------------------+---------+------------+------------+------------+------------+
|ProductID|ProductName                    |SupplierID|CategoryID|QuantityPerUnit     |UnitPrice|UnitsInStock|UnitsOnOrder|ReorderLevel|Discontinued|
+---------+-------------------------------+----------+----------+--------------------+---------+------------+------------+------------+------------+
|1        |Chai                           |1         |1         |10 boxes x 20 bags  |18.0     |39          |0           |10          |false       |
|2        |Chang                          |1         |1         |24 - 12 oz bottles  |19.0     |17          |40          |25          |false       |
|3        |Aniseed Syrup                  |1         |2         |12 - 550 ml bottles |10.0     |13          |70          |25          |false       |
|4        |Chef Anton's Cajun Seasoning   |2         |2         |48 - 6 oz jars      |22.0     |53          |0           |0           |false       |
|5        |Chef Anton's Gumbo Mix         |2         |2         |36 boxes            |21.35    |0           |0           |0           |true        |
|6        |Grandma's Boysenberry Spread   |3         |2         |12 - 8 oz jars      |25.0     |120         |0           |25          |false       |
|7        |Uncle Bob's Organic Dried Pears|3         |7         |12 - 1 lb pkgs.     |30.0     |15          |0           |10          |false       |
|8        |Northwoods Cranberry Sauce     |3         |2         |12 - 12 oz jars     |40.0     |6           |0           |0           |false       |
|9        |Mishi Kobe Niku                |4         |6         |18 - 500 g pkgs.    |97.0     |29          |0           |0           |true        |
|10       |Ikura                          |4         |8         |12 - 200 ml jars    |31.0     |31          |0           |0           |false       |
|11       |Queso Cabrales                 |5         |4         |1 kg pkg.           |21.0     |22          |30          |30          |false       |
|12       |Queso Manchego La Pastora      |5         |4         |10 - 500 g pkgs.    |38.0     |86          |0           |0           |false       |
|13       |Konbu                          |6         |8         |2 kg box            |6.0      |24          |0           |5           |false       |
|14       |Tofu                           |6         |7         |40 - 100 g pkgs.    |23.25    |35          |0           |0           |false       |
|15       |Genen Shouyu                   |6         |2         |24 - 250 ml bottles |15.5     |39          |0           |5           |false       |
|16       |Pavlova                        |7         |3         |32 - 500 g boxes    |17.45    |29          |0           |10          |false       |
|17       |Alice Mutton                   |7         |6         |20 - 1 kg tins      |39.0     |0           |0           |0           |true        |
|18       |Carnarvon Tigers               |7         |8         |16 kg pkg.          |62.5     |42          |0           |0           |false       |
|19       |Teatime Chocolate Biscuits     |8         |3         |10 boxes x 12 pieces|9.2      |25          |0           |5           |false       |
|20       |Sir Rodney's Marmalade         |8         |3         |30 gift boxes       |81.0     |40          |0           |0           |false       |
+---------+-------------------------------+----------+----------+--------------------+---------+------------+------------+------------+------------+
only showing top 20 rows

In [13]:
# Read the orders csv file into dataframe

orders = spark.read.format("csv").option("header", True).option("inferSchema", True).load("data/tables/orders.csv")

In [21]:
# display orders dataframe
orders.show()

+-------+----------+----------+------------+-----------+-------+-------+--------------------+----------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+-------+
|OrderID|CustomerID|EmployeeID|RequiredDate|ShippedDate|ShipVia|Freight|            ShipName|     ShipAddress|      ShipCity|ShipRegion|ShipPostalCode|ShipCountry| OrderDate|ProductID|UnitPrice|Quantity|Discount| _Sales|
+-------+----------+----------+------------+-----------+-------+-------+--------------------+----------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+-------+
|  11070|     LEHMS|         2|  17-10-2024|       null|      1|  136.0| Lehmanns Marktstand|    Magazinweg 7|Frankfurt a.M.|      null|         60528|    Germany|19-09-2024|       31|     12.5|      20|     0.0|  250.0|
|  11067|     DRACD|         1|  02-10-2024| 20-09-2024|      2|   7.98|Drachenblut Delik...|    Walserweg 21|        Aachen|      null|         52066|    Germany|18-09-2024|       41|     9.65|       9|     0.0|  86.85|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|  Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       61|     28.5|       4|     0.0|  114.0|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|  Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       60|     34.0|      21|     0.0|  714.0|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|  Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       21|     10.0|       3|     0.0|   30.0|
|  11036|     DRACD|         8|  02-10-2024| 06-09-2024|      3| 149.47|Drachenblut Delik...|    Walserweg 21|        Aachen|      null|         52066|    Germany|04-09-2024|       13|      6.0|       7|     0.0|   42.0|
|  11036|     DRACD|         8|  02-10-2024| 06-09-2024|      3| 149.47|Drachenblut Delik...|    Walserweg 21|        Aachen|      null|         52066|    Germany|04-09-2024|       59|     55.0|      30|     0.0| 1650.0|
|  11028|     KOENE|         2|  28-09-2024| 06-09-2024|      1|  29.59|     Königlich Essen|   Maubelstr. 90|   Brandenburg|      null|         14776|    Germany|31-08-2024|       59|     55.0|      24|     0.0| 1320.0|
|  11028|     KOENE|         2|  28-09-2024| 06-09-2024|      1|  29.59|     Königlich Essen|   Maubelstr. 90|   Brandenburg|      null|         14776|    Germany|31-08-2024|       55|     24.0|      35|     0.0|  840.0|
|  11021|     QUICK|         3|  26-09-2024| 05-09-2024|      1| 297.18|          QUICK-Stop|Taucherstraße 10|     Cunewalde|      null|         01307|    Germany|29-08-2024|       20|     81.0|      15|     0.0| 1215.0|
|  11021|     QUICK|         3|  26-09-2024| 05-09-2024|      1| 297.18|          QUICK-Stop|Taucherstraße 10|     Cunewalde|      null|         01307|    Germany|29-08-2024|       26|    31.23|      63|     0.0|1967.49|
|  11021|     QUICK|         3|  26-09-2024| 05-09-2024|      1| 297.18|          QUICK-Stop|Taucherstraße 10|     Cunewalde|      null|         01307|    Germany|29-08-2024|       72|     34.8|      35|     0.0| 1218.0|
|  11011|     ALFKI|         3|  21-09-2024| 28-08-2024|      1|   1.21|Alfred's Futterkiste|   Obere Str. 57|        Berlin|      null|         12209|    Germany|24-08-2024|       71|     21.5|      20|     0.0|  430.0|
|  10996|     QUICK|         4|  14-09-2024| 25-08-2024|      2|   1.12|          QUICK-Stop|Taucherstraße 10|     Cunewalde|      null|         01307|    Germany|17-08-2024|       42|     14.0|      40|     0.0|  560.0|
|  10967|     TOMSP|         2|  04-09-2024| 17-08-2024|      2|  62.22|  Toms Spezialitäten|   Luisenstr. 48|       Münster|      null|         44087|    Germany|07-08-2024|       19|      9.2|      12|     0.0|  110.4|
|  10967|     TOMSP|         2|  04-09-2024| 17-08-2024|      2|  62.22|  Toms Spezialitäten|   Luisenstr. 48|       Münster|      null|         44087|    Germany|07-08-2024|       49|     20.0|      40|     0.0|  800.0|
|  10962|     QUICK|         8|  31-08-2024| 07-08-2024|      2| 275.79|          QUICK-Stop|Taucherstraße 10|     Cunewalde|      null|         01307|    Germany|03-08-2024|       76|     18.0|      44|     0.0|  792.0|
|  10962|     QUICK|         8|  31-08-2024| 07-08-2024|      2| 275.79|          QUICK-Stop|Taucherstraße 10|     Cunewalde|      null|         01307|    Germany|03-08-2024|       69|     36.0|       9|     0.0|  324.0|
|  10962|     QUICK|         8|  31-08-2024| 07-08-2024|      2| 275.79|          QUICK-Stop|Taucherstraße 10|     Cunewalde|      null|         01307|    Germany|03-08-2024|       53|     32.8|      20|     0.0|  656.0|
|  10962|     QUICK|         8|  31-08-2024| 07-08-2024|      2| 275.79|          QUICK-Stop|Taucherstraße 10|     Cunewalde|      null|         01307|    Germany|03-08-2024|       13|      6.0|      77|     0.0|  462.0|
+-------+----------+----------+------------+-----------+-------+-------+--------------------+----------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+-------+
only showing top 20 rows

In [15]:
# Read the customers csv file into dataframe

customers = spark.read.format("csv").option("header", True).option("inferSchema", True).load("data/tables/customers.csv")

In [20]:
customers.show()

+----------+--------------------+------------------+--------------------+--------------------+------------+------+----------+-----------+--------------+--------------+
|CustomerID|         CompanyName|       ContactName|        ContactTitle|             Address|        City|Region|PostalCode|    Country|         Phone|           Fax|
+----------+--------------------+------------------+--------------------+--------------------+------------+------+----------+-----------+--------------+--------------+
|     ALFKI| Alfreds Futterkiste|      Maria Anders|Sales Representative|       Obere Str. 57|      Berlin|  null|     12209|    Germany|   030-0074321|   030-0076545|
|     ANATR|Ana Trujillo Empa...|      Ana Trujillo|               Owner|Avda. de la Const...| México D.F.|  null|     05021|     Mexico|  (5) 555-4729|  (5) 555-3745|
|     ANTON|Antonio Moreno Ta...|    Antonio Moreno|               Owner|     Mataderos  2312| México D.F.|  null|     05023|     Mexico|  (5) 555-3932|          null|
|     AROUT|     Around the Horn|      Thomas Hardy|Sales Representative|     120 Hanover Sq.|      London|  null|   WA1 1DP|         UK|(171) 555-7788|(171) 555-6750|
|     BERGS|  Berglunds snabbköp|Christina Berglund| Order Administrator|     Berguvsvägen  8|       Luleå|  null|  S-958 22|     Sweden| 0921-12 34 65| 0921-12 34 67|
|     BLAUS|Blauer See Delika...|        Hanna Moos|Sales Representative|      Forsterstr. 57|    Mannheim|  null|     68306|    Germany|    0621-08460|    0621-08924|
|     BLONP|Blondesddsl père ...|Frédérique Citeaux|   Marketing Manager|    24, place Kléber|  Strasbourg|  null|     67000|     France|   88.60.15.31|   88.60.15.32|
|     BOLID|Bólido Comidas pr...|     Martín Sommer|               Owner|      C/ Araquil, 67|      Madrid|  null|     28023|      Spain|(91) 555 22 82|(91) 555 91 99|
|     BONAP|            Bon app'|  Laurence Lebihan|               Owner|12, rue des Bouchers|   Marseille|  null|     13008|     France|   91.24.45.40|   91.24.45.41|
|     BOTTM|Bottom-Dollar Mar...| Elizabeth Lincoln|  Accounting Manager|  23 Tsawassen Blvd.|   Tsawassen|    BC|   T2F 8M4|     Canada|(604) 555-4729|(604) 555-3745|
|     BSBEV|       B's Beverages| Victoria Ashworth|Sales Representative|   Fauntleroy Circus|      London|  null|   EC2 5NT|         UK|(171) 555-1212|          null|
|     CACTU|Cactus Comidas pa...|  Patricio Simpson|         Sales Agent|         Cerrito 333|Buenos Aires|  null|      1010|  Argentina|  (1) 135-5555|  (1) 135-4892|
|     CENTC|Centro comercial ...|   Francisco Chang|   Marketing Manager|Sierras de Granad...| México D.F.|  null|     05022|     Mexico|  (5) 555-3392|  (5) 555-7293|
|     CHOPS|   Chop-suey Chinese|         Yang Wang|               Owner|        Hauptstr. 29|        Bern|  null|      3012|Switzerland|   0452-076545|          null|
|     COMMI|    Comércio Mineiro|      Pedro Afonso|     Sales Associate|Av. dos Lusíadas, 23|   Sao Paulo|    SP| 05432-043|     Brazil| (11) 555-7647|          null|
|     CONSH|Consolidated Hold...|   Elizabeth Brown|Sales Representative|Berkeley Gardens ...|      London|  null|   WX1 6LT|         UK|(171) 555-2282|(171) 555-9199|
|     DRACD|Drachenblut Delik...|      Sven Ottlieb| Order Administrator|        Walserweg 21|      Aachen|  null|     52066|    Germany|   0241-039123|   0241-059428|
|     DUMON|     Du monde entier|    Janine Labrune|               Owner|67, rue des Cinqu...|      Nantes|  null|     44000|     France|   40.67.88.88|   40.67.89.89|
|     EASTC|  Eastern Connection|         Ann Devon|         Sales Agent|      35 King George|      London|  null|   WX3 6FW|         UK|(171) 555-0297|(171) 555-3373|
|     ERNSH|        Ernst Handel|     Roland Mendel|       Sales Manager|        Kirchgasse 6|        Graz|  null|      8010|    Austria|     7675-3425|     7675-3426|
+----------+--------------------+------------------+--------------------+--------------------+------------+------+----------+-----------+--------------+--------------+
only showing top 20 rows

In [17]:
# Read the employees csv file into dataframe

employees = spark.read.format("csv").option("header", True).option("inferSchema", True).load("data/tables/employees.csv")

In [19]:
employees.show()

+---------------+---------+---------+--------------------+---------------+--------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------+---------+--------------------+---------+--------------------+----------------+------+
|     EmployeeID| LastName|FirstName|               Title|TitleOfCourtesy|     BirthDate|  HireDate|             Address|                City|              Region|          PostalCode|             Country|     HomePhone|Extension|               Notes|ReportsTo|           PhotoPath|       Full Name|Gender|
+---------------+---------+---------+--------------------+---------------+--------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------+---------+--------------------+---------+--------------------+----------------+------+
|              1|  Davolio|    Nancy|Sales Representative|            Ms.|    08-12-1948|01-05-1992|  507 - 20th Ave. E.|                null|                null|                null|                null|          null|     null|                null|     null|                null|            null|  null|
|       Apt. 2A"|  Seattle|       WA|               98122|            USA|(206) 555-9857|      5467|"Education includ...|                   2|http://accweb/emm...|       Nancy Davolio|              Female|          null|     null|                null|     null|                null|            null|  null|
|              2|   Fuller|   Andrew|Vice President, S...|            Dr.|    19-02-1952|14-08-1992|  908 W. Capital Way|              Tacoma|                  WA|               98401|                 USA|(206) 555-9482|     3457|Andrew received h...|     null|http://accweb/emm...|   Andrew Fuller|  Male|
|              3|Leverling|    Janet|Sales Representative|            Ms.|    30-08-1963|01-04-1992|  722 Moss Bay Blvd.|            Kirkland|                  WA|               98033|                 USA|(206) 555-3412|     3355|Janet has a BS de...|        2|http://accweb/emm...| Janet Leverling|Female|
|              4|  Peacock| Margaret|Sales Representative|           Mrs.|    19-09-1937|03-05-1993|4110 Old Redmond Rd.|             Redmond|                  WA|               98052|                 USA|(206) 555-8122|     5176|Margaret holds a ...|        2|http://accweb/emm...|Margaret Peacock|Female|
|              5| Buchanan|   Steven|       Sales Manager|            Mr.|    04-03-1955|17-10-1993|     14 Garrett Hill|              London|                null|             SW1 8JR|                  UK| (71) 555-4848|     3453|"Steven Buchanan ...|        2|http://accweb/emm...| Steven Buchanan|  Male|
|              6|   Suyama|  Michael|Sales Representative|            Mr.|    02-07-1963|17-10-1993|      Coventry House|                null|                null|                null|                null|          null|     null|                null|     null|                null|            null|  null|
|     Miner Rd."|   London|     null|             EC2 7JR|             UK| (71) 555-7773|       428|"Michael is a gra...|          Portuguese|       and Spanish."|                   5|http://accweb/emm...|Michael Suyama|     Male|                null|     null|                null|            null|  null|
|              7|     King|   Robert|Sales Representative|            Mr.|    29-05-1960|02-01-1994|      Edgeham Hollow|                null|                null|                null|                null|          null|     null|                null|     null|                null|            null|  null|
|Winchester Way"|   London|     null|             RG1 9SP|             UK| (71) 555-5598|       465|"Robert King serv...|"" he was transfe...|                   5|http://accweb/emm...|         Robert King|          Male|     null|                null|     null|                null|            null|  null|
|              8| Callahan|    Laura|Inside Sales Coor...|            Ms.|    09-01-1958|05-03-1994|4726 - 11th Ave. ...|             Seattle|                  WA|               98105|                 USA|(206) 555-1189|     2344|Laura received a ...|        2|http://accweb/emm...|  Laura Callahan|Female|
|              9|Dodsworth|     Anne|Sales Representative|            Ms.|    27-01-1966|15-11-1994|   7 Houndstooth Rd.|              London|                null|             WG2 7LT|                  UK| (71) 555-4444|      452|Anne has a BA deg...|        5|http://accweb/emm...|  Anne Dodsworth|Female|
+---------------+---------+---------+--------------------+---------------+--------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------+---------+--------------------+---------+--------------------+----------------+------+

In [22]:
# Read the suppliers csv file into dataframe

suppliers = spark.read.format("csv").option("header", True).option("inferSchema", True).load("data/tables/suppliers.csv")

In [24]:
suppliers.show()

+----------+--------------------+--------------------+--------------------+--------------------+-----------+--------+----------+---------+---------------+---------------+--------------------+
|SupplierID|         CompanyName|         ContactName|        ContactTitle|             Address|       City|  Region|PostalCode|  Country|          Phone|            Fax|            HomePage|
+----------+--------------------+--------------------+--------------------+--------------------+-----------+--------+----------+---------+---------------+---------------+--------------------+
|         1|      Exotic Liquids|    Charlotte Cooper|  Purchasing Manager|      49 Gilbert St.|     London|    null|   EC1 4SD|       UK| (171) 555-2222|           null|                null|
|         2|New Orleans Cajun...|       Shelley Burke| Order Administrator|      P.O. Box 78934|New Orleans|      LA|     70117|      USA| (100) 555-4822|           null|         #CAJUN.HTM#|
|         3|Grandma Kelly's H...|       Regina Murphy|Sales Representative|      707 Oxford Rd.|  Ann Arbor|      MI|     48104|      USA| (313) 555-5735| (313) 555-3349|                null|
|         4|       Tokyo Traders|        Yoshi Nagase|   Marketing Manager|9-8 Sekimai Musas...|      Tokyo|    null|       100|    Japan| (03) 3555-5011|           null|                null|
|         5|Cooperativa de Qu...|Antonio del Valle...|Export Administrator|   Calle del Rosal 4|     Oviedo|Asturias|     33007|    Spain| (98) 598 76 54|           null|                null|
|         6|            Mayumi's|         Mayumi Ohno|Marketing Represe...|  92 Setsuko Chuo-ku|      Osaka|    null|       545|    Japan|  (06) 431-7877|           null|Mayumi's (on the ...|
|         7|       Pavlova, Ltd.|         Ian Devling|   Marketing Manager|74 Rose St. Mooni...|  Melbourne|Victoria|      3058|Australia|  (03) 444-2343|  (03) 444-6588|                null|
|         8|Specialty Biscuit...|        Peter Wilson|Sales Representative|       29 King's Way| Manchester|    null|   M14 GSD|       UK| (161) 555-4448|           null|                null|
|         9|    PB Knäckebröd AB|       Lars Peterson|         Sales Agent|     Kaloadagatan 13|   Göteborg|    null|  S-345 67|   Sweden|  031-987 65 43|  031-987 65 91|                null|
|        10|Refrescos America...|         Carlos Diaz|   Marketing Manager|Av. das Americana...|  Sao Paulo|    null|      5442|   Brazil|  (11) 555 4640|           null|                null|
|        11|Heli Süßwaren Gmb...|       Petra Winkler|       Sales Manager|  Tiergartenstraße 5|     Berlin|    null|     10785|  Germany|  (010) 9984510|           null|                null|
|        12|Plutzer Lebensmit...|         Martin Bein|International Mar...|       Bogenallee 51|  Frankfurt|    null|     60439|  Germany|   (069) 992755|           null|Plutzer (on the W...|
|        13|Nord-Ost-Fisch Ha...|       Sven Petersen|Coordinator Forei...|    Frahmredder 112a|   Cuxhaven|    null|     27478|  Germany|   (04721) 8713|   (04721) 8714|                null|
|        14|Formaggi Fortini ...|          Elio Rossi|Sales Representative|     Viale Dante, 75|    Ravenna|    null|     48100|    Italy|   (0544) 60323|   (0544) 60603|      #FORMAGGI.HTM#|
|        15|     Norske Meierier|        Beate Vileid|   Marketing Manager|        Hatlevegen 5|   Sandvika|    null|      1320|   Norway|    (0)2-953010|           null|                null|
|        16|   Bigfoot Breweries|       Cheryl Saylor|Regional Account ...|3400 - 8th Avenue...|       Bend|      OR|     97101|      USA| (503) 555-9931|           null|                null|
|        17|   Svensk Sjöföda AB|       Michael Björn|Sales Representative|   Brovallavägen 231|  Stockholm|    null|  S-123 45|   Sweden|   08-123 45 67|           null|                null|
|        18|Aux joyeux ecclés...|      Guylène Nodier|       Sales Manager|203, Rue des Fran...|      Paris|    null|     75004|   France|(1) 03.83.00.68|(1) 03.83.00.62|                null|
|        19|New England Seafo...|       Robb Merchant|Wholesale Account...|Order Processing ...|     Boston|      MA|     02134|      USA| (617) 555-3267| (617) 555-3389|                null|
|        20|        Leka Trading|        Chandra Leka|               Owner|471 Serangoon Loo...|  Singapore|    null|      0512|Singapore|       555-8787|           null|                null|
+----------+--------------------+--------------------+--------------------+--------------------+-----------+--------+----------+---------+---------------+---------------+--------------------+
only showing top 20 rows

# *Questions*

### 1. How many current products cost less than $20?

In [30]:
from pyspark.sql.functions import col

products.where((col("UnitPrice") < 20) & (col("Discontinued") == "false")).show()

+---------+--------------------+----------+----------+--------------------+---------+------------+------------+------------+------------+
|ProductID|         ProductName|SupplierID|CategoryID|     QuantityPerUnit|UnitPrice|UnitsInStock|UnitsOnOrder|ReorderLevel|Discontinued|
+---------+--------------------+----------+----------+--------------------+---------+------------+------------+------------+------------+
|        1|                Chai|         1|         1|  10 boxes x 20 bags|     18.0|          39|           0|          10|       false|
|        2|               Chang|         1|         1|  24 - 12 oz bottles|     19.0|          17|          40|          25|       false|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles|     10.0|          13|          70|          25|       false|
|       13|               Konbu|         6|         8|            2 kg box|      6.0|          24|           0|           5|       false|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles|     15.5|          39|           0|           5|       false|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|    17.45|          29|           0|          10|       false|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|      9.2|          25|           0|           5|       false|
|       21| Sir Rodney's Scones|         8|         3| 24 pkgs. x 4 pieces|     10.0|           3|          40|           5|       false|
|       23|            Tunnbröd|         9|         5|    12 - 250 g pkgs.|      9.0|          61|           0|          25|       false|
|       25|NuNuCa Nuß-Nougat...|        11|         3|  20 - 450 g glasses|     14.0|          76|           0|          30|       false|
|       31|   Gorgonzola Telino|        14|         4|     12 - 100 g pkgs|     12.5|           0|          70|          20|       false|
|       33|             Geitost|        15|         4|               500 g|      2.5|         112|           0|          20|       false|
|       34|       Sasquatch Ale|        16|         1|  24 - 12 oz bottles|     14.0|         111|           0|          15|       false|
|       35|      Steeleye Stout|        16|         1|  24 - 12 oz bottles|     18.0|          20|           0|          15|       false|
|       36|         Inlagd Sill|        17|         8|    24 - 250 g  jars|     19.0|         112|           0|          20|       false|
|       39|    Chartreuse verte|        18|         1|   750 cc per bottle|     18.0|          69|           0|           5|       false|
|       40|    Boston Crab Meat|        19|         8|      24 - 4 oz tins|     18.4|         123|           0|          30|       false|
|       41|Jack's New Englan...|        19|         8|     12 - 12 oz cans|     9.65|          85|           0|          10|       false|
|       44|        Gula Malacca|        20|         2|      20 - 2 kg bags|    19.45|          27|           0|          15|       false|
|       45|         Rogede sild|        21|         8|             1k pkg.|      9.5|           5|          70|          15|       false|
+---------+--------------------+----------+----------+--------------------+---------+------------+------------+------------+------------+
only showing top 20 rows

In [31]:
products.where("UnitPrice < 20 AND Discontinued = 'false'").count()

37

### 2. Which product is most expensive?

In [36]:
products.sort(desc("UnitPrice")).show(1)

+---------+-------------+----------+----------+------------------+---------+------------+------------+------------+------------+
|ProductID|  ProductName|SupplierID|CategoryID|   QuantityPerUnit|UnitPrice|UnitsInStock|UnitsOnOrder|ReorderLevel|Discontinued|
+---------+-------------+----------+----------+------------------+---------+------------+------------+------------+------------+
|       38|Côte de Blaye|        18|         1|12 - 75 cl bottles|    263.5|          17|           0|          15|       false|
+---------+-------------+----------+----------+------------------+---------+------------+------------+------------+------------+
only showing top 1 row

### 3. What is the average unit price for our products?

In [40]:
products.agg(round(avg("UnitPrice"), 2).alias("AvgUnitPrice")).show()

+------------+
|AvgUnitPrice|
+------------+
|       28.87|
+------------+

### 4. How many products are above the average unit price?

In [43]:
 # get the average unit price
avg_unit_price = products.agg(round(avg("UnitPrice"), 2).alias("AvgUnitPrice")).collect()[0]["AvgUnitPrice"]

# products above the average unit price
products.where(f"UnitPrice > {avg_unit_price}").show()

+---------+--------------------+----------+----------+--------------------+---------+------------+------------+------------+------------+
|ProductID|         ProductName|SupplierID|CategoryID|     QuantityPerUnit|UnitPrice|UnitsInStock|UnitsOnOrder|ReorderLevel|Discontinued|
+---------+--------------------+----------+----------+--------------------+---------+------------+------------+------------+------------+
|        7|Uncle Bob's Organ...|         3|         7|     12 - 1 lb pkgs.|     30.0|          15|           0|          10|       false|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars|     40.0|           6|           0|           0|       false|
|        9|     Mishi Kobe Niku|         4|         6|    18 - 500 g pkgs.|     97.0|          29|           0|           0|        true|
|       10|               Ikura|         4|         8|    12 - 200 ml jars|     31.0|          31|           0|           0|       false|
|       12|Queso Manchego La...|         5|         4|    10 - 500 g pkgs.|     38.0|          86|           0|           0|       false|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins|     39.0|           0|           0|           0|        true|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.|     62.5|          42|           0|           0|       false|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes|     81.0|          40|           0|           0|       false|
|       26| Gumbär Gummibärchen|        11|         3|    100 - 250 g bags|    31.23|          15|           0|           0|       false|
|       27|  Schoggi Schokolade|        11|         3|  100 - 100 g pieces|     43.9|          49|           0|          30|       false|
|       28|   Rössle Sauerkraut|        12|         7|     25 - 825 g cans|     45.6|          26|           0|           0|        true|
|       29|Thüringer Rostbra...|        12|         6|50 bags x 30 sausgs.|   123.79|           0|           0|           0|        true|
|       32|  Mascarpone Fabioli|        14|         4|    24 - 200 g pkgs.|     32.0|           9|          40|          25|       false|
|       38|       Côte de Blaye|        18|         1|  12 - 75 cl bottles|    263.5|          17|           0|          15|       false|
|       43|         Ipoh Coffee|        20|         1|     16 - 500 g tins|     46.0|          17|          10|          25|       false|
|       51|Manjimup Dried Ap...|        24|         7|    50 - 300 g pkgs.|     53.0|          20|           0|          10|       false|
|       53|       Perth Pasties|        24|         6|           48 pieces|     32.8|           0|           0|           0|        true|
|       56|Gnocchi di nonna ...|        26|         5|    24 - 250 g pkgs.|     38.0|          21|          10|          30|       false|
|       59|Raclette Courdavault|        28|         4|           5 kg pkg.|     55.0|          79|           0|           0|       false|
|       60|   Camembert Pierrot|        28|         4|   15 - 300 g rounds|     34.0|          19|           0|           0|       false|
+---------+--------------------+----------+----------+--------------------+---------+------------+------------+------------+------------+
only showing top 20 rows

In [44]:
products.where(f"UnitPrice > {avg_unit_price}").count()

25

### 5. How many products costs between $15 & $25 (inclusive)?

In [45]:
products.where("UnitPrice >= 15 AND UnitPrice <= 25").show()

+---------+--------------------+----------+----------+-------------------+---------+------------+------------+------------+------------+
|ProductID|         ProductName|SupplierID|CategoryID|    QuantityPerUnit|UnitPrice|UnitsInStock|UnitsOnOrder|ReorderLevel|Discontinued|
+---------+--------------------+----------+----------+-------------------+---------+------------+------------+------------+------------+
|        1|                Chai|         1|         1| 10 boxes x 20 bags|     18.0|          39|           0|          10|       false|
|        2|               Chang|         1|         1| 24 - 12 oz bottles|     19.0|          17|          40|          25|       false|
|        4|Chef Anton's Caju...|         2|         2|     48 - 6 oz jars|     22.0|          53|           0|           0|       false|
|        5|Chef Anton's Gumb...|         2|         2|           36 boxes|    21.35|           0|           0|           0|        true|
|        6|Grandma's Boysenb...|         3|         2|     12 - 8 oz jars|     25.0|         120|           0|          25|       false|
|       11|      Queso Cabrales|         5|         4|          1 kg pkg.|     21.0|          22|          30|          30|       false|
|       14|                Tofu|         6|         7|   40 - 100 g pkgs.|    23.25|          35|           0|           0|       false|
|       15|        Genen Shouyu|         6|         2|24 - 250 ml bottles|     15.5|          39|           0|           5|       false|
|       16|             Pavlova|         7|         3|   32 - 500 g boxes|    17.45|          29|           0|          10|       false|
|       22| Gustaf's Knäckebröd|         9|         5|   24 - 500 g pkgs.|     21.0|         104|           0|          25|       false|
|       35|      Steeleye Stout|        16|         1| 24 - 12 oz bottles|     18.0|          20|           0|          15|       false|
|       36|         Inlagd Sill|        17|         8|   24 - 250 g  jars|     19.0|         112|           0|          20|       false|
|       39|    Chartreuse verte|        18|         1|  750 cc per bottle|     18.0|          69|           0|           5|       false|
|       40|    Boston Crab Meat|        19|         8|     24 - 4 oz tins|     18.4|         123|           0|          30|       false|
|       44|        Gula Malacca|        20|         2|     20 - 2 kg bags|    19.45|          27|           0|          15|       false|
|       49|            Maxilaku|        23|         3|    24 - 50 g pkgs.|     20.0|          10|          60|          15|       false|
|       50|    Valkoinen suklaa|        23|         3|    12 - 100 g bars|    16.25|          65|           0|          30|       false|
|       55|        Pâté chinois|        25|         6|  24 boxes x 2 pies|     24.0|         115|           0|          20|       false|
|       57|      Ravioli Angelo|        26|         5|   24 - 250 g pkgs.|     19.5|          36|           0|          20|       false|
|       65|Louisiana Fiery H...|         2|         2|  32 - 8 oz bottles|    21.05|          76|           0|           0|       false|
+---------+--------------------+----------+----------+-------------------+---------+------------+------------+------------+------------+
only showing top 20 rows

In [46]:
products.where("UnitPrice >= 15 AND UnitPrice <= 25").count()

25

### 6. What is the average number of products (not quantity) per order?

In [47]:
orders.show()

+-------+----------+----------+------------+-----------+-------+-------+--------------------+----------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+-------+
|OrderID|CustomerID|EmployeeID|RequiredDate|ShippedDate|ShipVia|Freight|            ShipName|     ShipAddress|      ShipCity|ShipRegion|ShipPostalCode|ShipCountry| OrderDate|ProductID|UnitPrice|Quantity|Discount| _Sales|
+-------+----------+----------+------------+-----------+-------+-------+--------------------+----------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+-------+
|  11070|     LEHMS|         2|  17-10-2024|       null|      1|  136.0| Lehmanns Marktstand|    Magazinweg 7|Frankfurt a.M.|      null|         60528|    Germany|19-09-2024|       31|     12.5|      20|     0.0|  250.0|
|  11067|     DRACD|         1|  02-10-2024| 20-09-2024|      2|   7.98|Drachenblut Delik...|    Walserweg 21|        Aachen|      null|         52066|    Germany|18-09-2024|       41|     9.65|       9|     0.0|  86.85|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|  Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       61|     28.5|       4|     0.0|  114.0|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|  Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       60|     34.0|      21|     0.0|  714.0|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|  Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       21|     10.0|       3|     0.0|   30.0|
|  11036|     DRACD|         8|  02-10-2024| 06-09-2024|      3| 149.47|Drachenblut Delik...|    Walserweg 21|        Aachen|      null|         52066|    Germany|04-09-2024|       13|      6.0|       7|     0.0|   42.0|
|  11036|     DRACD|         8|  02-10-2024| 06-09-2024|      3| 149.47|Drachenblut Delik...|    Walserweg 21|        Aachen|      null|         52066|    Germany|04-09-2024|       59|     55.0|      30|     0.0| 1650.0|
|  11028|     KOENE|         2|  28-09-2024| 06-09-2024|      1|  29.59|     Königlich Essen|   Maubelstr. 90|   Brandenburg|      null|         14776|    Germany|31-08-2024|       59|     55.0|      24|     0.0| 1320.0|
|  11028|     KOENE|         2|  28-09-2024| 06-09-2024|      1|  29.59|     Königlich Essen|   Maubelstr. 90|   Brandenburg|      null|         14776|    Germany|31-08-2024|       55|     24.0|      35|     0.0|  840.0|
|  11021|     QUICK|         3|  26-09-2024| 05-09-2024|      1| 297.18|          QUICK-Stop|Taucherstraße 10|     Cunewalde|      null|         01307|    Germany|29-08-2024|       20|     81.0|      15|     0.0| 1215.0|
|  11021|     QUICK|         3|  26-09-2024| 05-09-2024|      1| 297.18|          QUICK-Stop|Taucherstraße 10|     Cunewalde|      null|         01307|    Germany|29-08-2024|       26|    31.23|      63|     0.0|1967.49|
|  11021|     QUICK|         3|  26-09-2024| 05-09-2024|      1| 297.18|          QUICK-Stop|Taucherstraße 10|     Cunewalde|      null|         01307|    Germany|29-08-2024|       72|     34.8|      35|     0.0| 1218.0|
|  11011|     ALFKI|         3|  21-09-2024| 28-08-2024|      1|   1.21|Alfred's Futterkiste|   Obere Str. 57|        Berlin|      null|         12209|    Germany|24-08-2024|       71|     21.5|      20|     0.0|  430.0|
|  10996|     QUICK|         4|  14-09-2024| 25-08-2024|      2|   1.12|          QUICK-Stop|Taucherstraße 10|     Cunewalde|      null|         01307|    Germany|17-08-2024|       42|     14.0|      40|     0.0|  560.0|
|  10967|     TOMSP|         2|  04-09-2024| 17-08-2024|      2|  62.22|  Toms Spezialitäten|   Luisenstr. 48|       Münster|      null|         44087|    Germany|07-08-2024|       19|      9.2|      12|     0.0|  110.4|
|  10967|     TOMSP|         2|  04-09-2024| 17-08-2024|      2|  62.22|  Toms Spezialitäten|   Luisenstr. 48|       Münster|      null|         44087|    Germany|07-08-2024|       49|     20.0|      40|     0.0|  800.0|
|  10962|     QUICK|         8|  31-08-2024| 07-08-2024|      2| 275.79|          QUICK-Stop|Taucherstraße 10|     Cunewalde|      null|         01307|    Germany|03-08-2024|       76|     18.0|      44|     0.0|  792.0|
|  10962|     QUICK|         8|  31-08-2024| 07-08-2024|      2| 275.79|          QUICK-Stop|Taucherstraße 10|     Cunewalde|      null|         01307|    Germany|03-08-2024|       69|     36.0|       9|     0.0|  324.0|
|  10962|     QUICK|         8|  31-08-2024| 07-08-2024|      2| 275.79|          QUICK-Stop|Taucherstraße 10|     Cunewalde|      null|         01307|    Germany|03-08-2024|       53|     32.8|      20|     0.0|  656.0|
|  10962|     QUICK|         8|  31-08-2024| 07-08-2024|      2| 275.79|          QUICK-Stop|Taucherstraße 10|     Cunewalde|      null|         01307|    Germany|03-08-2024|       13|      6.0|      77|     0.0|  462.0|
+-------+----------+----------+------------+-----------+-------+-------+--------------------+----------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+-------+
only showing top 20 rows

In [57]:
# how many products were bougth per order
# what is the average number of products per order

product_count = orders.groupBy("OrderID").agg(count("ProductID").alias("ProductCount"))
product_count.agg(round(avg("ProductCount"), 0).alias("AvgProductCount")).show()

+---------------+
|AvgProductCount|
+---------------+
|            3.0|
+---------------+

### 7. What is order value in $ of open orders? ( Not shipped yet)

In [59]:
orders.show(5)

+-------+----------+----------+------------+-----------+-------+-------+--------------------+--------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+------+
|OrderID|CustomerID|EmployeeID|RequiredDate|ShippedDate|ShipVia|Freight|            ShipName|   ShipAddress|      ShipCity|ShipRegion|ShipPostalCode|ShipCountry| OrderDate|ProductID|UnitPrice|Quantity|Discount|_Sales|
+-------+----------+----------+------------+-----------+-------+-------+--------------------+--------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+------+
|  11070|     LEHMS|         2|  17-10-2024|       null|      1|  136.0| Lehmanns Marktstand|  Magazinweg 7|Frankfurt a.M.|      null|         60528|    Germany|19-09-2024|       31|     12.5|      20|     0.0| 250.0|
|  11067|     DRACD|         1|  02-10-2024| 20-09-2024|      2|   7.98|Drachenblut Delik...|  Walserweg 21|        Aachen|      null|         52066|    Germany|18-09-2024|       41|     9.65|       9|     0.0| 86.85|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       61|     28.5|       4|     0.0| 114.0|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       60|     34.0|      21|     0.0| 714.0|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       21|     10.0|       3|     0.0|  30.0|
+-------+----------+----------+------------+-----------+-------+-------+--------------------+--------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+------+
only showing top 5 rows

In [65]:
# filter for orders not shipped yet
# calculate the order value of those orders

orders_not_shipped = orders.filter(col("ShippedDate").isNull())

orders_not_shipped.agg(round(sum(col("_Sales")), 0).alias("OrderValue")).show()

+----------+
|OrderValue|
+----------+
|   27444.0|
+----------+

### 8. How many orders are 'single item' (only one product ordered)?

In [66]:
product_count.show()

+-------+------------+
|OrderID|ProductCount|
+-------+------------+
|  10817|           4|
|  10623|           5|
|  10362|           3|
|  11033|           2|
|  10703|           3|
|  10462|           2|
|  10914|           1|
|  10862|           2|
|  11025|           2|
|  10798|           2|
|  10708|           2|
|  10745|           4|
|  10468|           2|
|  10768|           4|
|  10788|           2|
|  10632|           2|
|  10527|           2|
|  10840|           2|
|  10567|           3|
|  10395|           3|
+-------+------------+
only showing top 20 rows

In [67]:
product_count.where("ProductCount = 1").show()

+-------+------------+
|OrderID|ProductCount|
+-------+------------+
|  10914|           1|
|  10815|           1|
|  11014|           1|
|  10947|           1|
|  10898|           1|
|  11057|           1|
|  10371|           1|
|  10422|           1|
|  10994|           1|
|  10295|           1|
|  10732|           1|
|  10881|           1|
|  10950|           1|
|  10433|           1|
|  10683|           1|
|  10336|           1|
|  10589|           1|
|  10586|           1|
|  10376|           1|
|  11050|           1|
+-------+------------+
only showing top 20 rows

In [68]:
product_count.where("ProductCount = 1").count()

137

### 9. Average Sales per Transaction (orderID) for "Romero y Tomillo"

In [69]:
orders.show(5)

+-------+----------+----------+------------+-----------+-------+-------+--------------------+--------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+------+
|OrderID|CustomerID|EmployeeID|RequiredDate|ShippedDate|ShipVia|Freight|            ShipName|   ShipAddress|      ShipCity|ShipRegion|ShipPostalCode|ShipCountry| OrderDate|ProductID|UnitPrice|Quantity|Discount|_Sales|
+-------+----------+----------+------------+-----------+-------+-------+--------------------+--------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+------+
|  11070|     LEHMS|         2|  17-10-2024|       null|      1|  136.0| Lehmanns Marktstand|  Magazinweg 7|Frankfurt a.M.|      null|         60528|    Germany|19-09-2024|       31|     12.5|      20|     0.0| 250.0|
|  11067|     DRACD|         1|  02-10-2024| 20-09-2024|      2|   7.98|Drachenblut Delik...|  Walserweg 21|        Aachen|      null|         52066|    Germany|18-09-2024|       41|     9.65|       9|     0.0| 86.85|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       61|     28.5|       4|     0.0| 114.0|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       60|     34.0|      21|     0.0| 714.0|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       21|     10.0|       3|     0.0|  30.0|
+-------+----------+----------+------------+-----------+-------+-------+--------------------+--------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+------+
only showing top 5 rows

In [86]:
# filter out the ship name 
romero = orders.filter(col("ShipName").like("Romero%"))

# groupby on orderid and find the sales amount per order (_sale)
order_value = romero.groupBy("OrderID").agg(round(sum("_Sales"),0).alias("OrderValue"))

# average order value
order_value.agg(avg("OrderValue").alias("AvgOrderValue")).show()

+-------------+
|AvgOrderValue|
+-------------+
|        293.6|
+-------------+

### 10. How many days since "North/South" last purchase?

In [92]:
customers.filter(col("CompanyName") == 'North/South').show()

+----------+-----------+--------------+---------------+--------------------+------+------+----------+-------+--------------+--------------+
|CustomerID|CompanyName|   ContactName|   ContactTitle|             Address|  City|Region|PostalCode|Country|         Phone|           Fax|
+----------+-----------+--------------+---------------+--------------------+------+------+----------+-------+--------------+--------------+
|     NORTS|North/South|Simon Crowther|Sales Associate|South House 300 Q...|London|  null|   SW7 1RZ|     UK|(171) 555-7733|(171) 555-2530|
+----------+-----------+--------------+---------------+--------------------+------+------+----------+-------+--------------+--------------+

In [96]:
# join the orders and customers by customer_id
# get the customer_id from the customers table and use this customer_id and filter out the orders

customer_id = customers.filter(col("CompanyName") == 'North/South').collect()[0]["CustomerID"]

In [97]:
orders.show(5)

+-------+----------+----------+------------+-----------+-------+-------+--------------------+--------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+------+
|OrderID|CustomerID|EmployeeID|RequiredDate|ShippedDate|ShipVia|Freight|            ShipName|   ShipAddress|      ShipCity|ShipRegion|ShipPostalCode|ShipCountry| OrderDate|ProductID|UnitPrice|Quantity|Discount|_Sales|
+-------+----------+----------+------------+-----------+-------+-------+--------------------+--------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+------+
|  11070|     LEHMS|         2|  17-10-2024|       null|      1|  136.0| Lehmanns Marktstand|  Magazinweg 7|Frankfurt a.M.|      null|         60528|    Germany|19-09-2024|       31|     12.5|      20|     0.0| 250.0|
|  11067|     DRACD|         1|  02-10-2024| 20-09-2024|      2|   7.98|Drachenblut Delik...|  Walserweg 21|        Aachen|      null|         52066|    Germany|18-09-2024|       41|     9.65|       9|     0.0| 86.85|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       61|     28.5|       4|     0.0| 114.0|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       60|     34.0|      21|     0.0| 714.0|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       21|     10.0|       3|     0.0|  30.0|
+-------+----------+----------+------------+-----------+-------+-------+--------------------+--------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+------+
only showing top 5 rows

In [141]:
# filter out the orders made by the norts customer_id
norts_order = orders.filter(col("CustomerID") == customer_id)

# sort the order date in desc order and get the latest order date
latest_order = norts_order.sort(desc(col("OrderDate"))).select("CustomerID", to_date(col("OrderDate"), "dd-MM-yyyy").alias("OrderDate"))

# add current date to the dataframe
current_date_added = latest_order.withColumn("CurrentDate", current_date())

# find the differnce between last purchase date & current date (datediff)
current_date_added = current_date_added.withColumn("DiffInDays", datediff(col("CurrentDate"), col("OrderDate")))

current_date_added.show(1)

+----------+----------+-----------+----------+
|CustomerID| OrderDate|CurrentDate|DiffInDays|
+----------+----------+-----------+----------+
|     NORTS|2024-09-13| 2025-07-02|       292|
+----------+----------+-----------+----------+
only showing top 1 row

### 11. How many customers have ordered only once?

In [155]:
orders.select("OrderID", "CustomerID", "ProductID")

# getting the data from product level to customers level
product_level = orders.groupBy("OrderID", "CustomerID").agg(count(col("ProductID")).alias("ProductCount"))

# how many times every customer has ordered 
order_count = product_level.groupBy("CustomerID").agg(count("OrderID").alias("OrderCount"))

# filter customers only where one order was placed
customer_ordered_once = order_count.where("OrderCount = 1")

customer_ordered_once.show()

+----------+----------+
|CustomerID|OrderCount|
+----------+----------+
|     CENTC|         1|
+----------+----------+

### 12. How many new customers in 2023?

In [211]:
# select the relevant columns and get the distinct orders
order_details = orders.select("OrderID", "CustomerID", to_date(col("OrderDate"), "dd-MM-yyyy").alias("OrderDate")).distinct()

# create the window frame and rank the orders by order date in ascending order
window = Window.partitionBy("CustomerID").orderBy("OrderDate")
order_ranks = order_details.withColumn("OrderRank", rank().over(window))

order_ranks.filter((col("OrderRank") == 1) & (year(col("OrderDate")) == 2023)).count()

57

### 13. How many Lost Customers in 2023?

In [177]:
orders.show(5)

+-------+----------+----------+------------+-----------+-------+-------+--------------------+--------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+------+
|OrderID|CustomerID|EmployeeID|RequiredDate|ShippedDate|ShipVia|Freight|            ShipName|   ShipAddress|      ShipCity|ShipRegion|ShipPostalCode|ShipCountry| OrderDate|ProductID|UnitPrice|Quantity|Discount|_Sales|
+-------+----------+----------+------------+-----------+-------+-------+--------------------+--------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+------+
|  11070|     LEHMS|         2|  17-10-2024|       null|      1|  136.0| Lehmanns Marktstand|  Magazinweg 7|Frankfurt a.M.|      null|         60528|    Germany|19-09-2024|       31|     12.5|      20|     0.0| 250.0|
|  11067|     DRACD|         1|  02-10-2024| 20-09-2024|      2|   7.98|Drachenblut Delik...|  Walserweg 21|        Aachen|      null|         52066|    Germany|18-09-2024|       41|     9.65|       9|     0.0| 86.85|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       61|     28.5|       4|     0.0| 114.0|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       60|     34.0|      21|     0.0| 714.0|
|  11058|     BLAUS|         9|  11-10-2024|       null|      3|  31.14|Blauer See Delika...|Forsterstr. 57|      Mannheim|      null|         68306|    Germany|13-09-2024|       21|     10.0|       3|     0.0|  30.0|
+-------+----------+----------+------------+-----------+-------+-------+--------------------+--------------+--------------+----------+--------------+-----------+----------+---------+---------+--------+--------+------+
only showing top 5 rows

In [210]:
# select the relevant columns and get the distinct orders
order_details = orders.select("OrderID", "CustomerID", to_date(col("OrderDate"), "dd-MM-yyyy").alias("OrderDate")).distinct()

# create window frame and rank orders in descending order by order date
window = Window.partitionBy("CustomerID").orderBy(desc(col("OrderDate")))
order_ranks = order_details.withColumn("OrderRank", rank().over(window))

# Filter orders where order rank is 1 and year is 2023
order_ranks.filter((col("OrderRank") == 1) & (year(col("OrderDate")) == 2023)).count()

1

### 14. How many customers have never purchased Queso Cabrales?

In [209]:
# join orders and orducts table using inner join
# filter rows where prodname is Queso Cabrales
# select only the distinct customerID

customers_purchased_queso = orders.join(products, orders.ProductID == products.ProductID, how='inner')\
    .filter(col("ProductName") == "Queso Cabrales")\
    .select("CustomerID").distinct()

#perform a left anti join to get customers who did not purchase queso cabrales
customers.join(customers_purchased_queso, on="CustomerID", how="left_anti").select("CustomerID").distinct().count()

59

### 15. How many customers have purchased only Queso Cabrales (per OrderID)?

In [230]:
# customers who ordered only one product
customers_bougth_one_product = orders.groupBy("OrderID", "CustomerID").agg(count("ProductID").alias("ProductCount"))\
    .filter((col("ProductCount")) == 1)\
    .select("CustomerID").distinct() 

# the product should be queso cabrales
customers_bought_queso = orders.join(products, on="ProductID", how="inner")\
    .filter(col("ProductName")=="Queso Cabrales")\
    .select(orders["CustomerID"]).distinct()
# customers have purchased only Queso Cabrales (per OrderID)
customers_bougth_one_product.join(customers_bought_queso, on="CustomerID", how="inner").count()

28

### 16. How many products are out of stock?

In [233]:
products.filter(col("UnitsInStock")==0).show()

+---------+--------------------+----------+----------+--------------------+---------+------------+------------+------------+------------+
|ProductID|         ProductName|SupplierID|CategoryID|     QuantityPerUnit|UnitPrice|UnitsInStock|UnitsOnOrder|ReorderLevel|Discontinued|
+---------+--------------------+----------+----------+--------------------+---------+------------+------------+------------+------------+
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|    21.35|           0|           0|           0|        true|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins|     39.0|           0|           0|           0|        true|
|       29|Thüringer Rostbra...|        12|         6|50 bags x 30 sausgs.|   123.79|           0|           0|           0|        true|
|       31|   Gorgonzola Telino|        14|         4|     12 - 100 g pkgs|     12.5|           0|          70|          20|       false|
|       53|       Perth Pasties|        24|         6|           48 pieces|     32.8|           0|           0|           0|        true|
+---------+--------------------+----------+----------+--------------------+---------+------------+------------+------------+------------+

### 17. How many products need to be restocked? (based on restock levels)

In [236]:
products.filter(col("UnitsInStock") <= col("ReorderLevel")).count()

22

### 18. How many products on order we need to restock?

In [238]:
products.filter((col("UnitsInStock") < col("UnitsOnOrder")) & (col("UnitsOnOrder") > 0)).count()

14

### 19. What is the stocked value of the discontinued products?

In [242]:
products.filter(col("Discontinued")==True)\
    .withColumn("StockedValue", col("UnitPrice") * col("UnitsInStock"))\
    .agg(sum("StockedValue").alias("TotalStockedValue")).show()

+-----------------+
|TotalStockedValue|
+-----------------+
|           4452.6|
+-----------------+

## 20. Which vendor has the highest stock value?

In [261]:
# select relevant columns
product_level = products.select("ProductID", "ProductName", "SupplierID", "UnitPrice", "UnitsInStock")

# get the stock value at the product level
product_stock_value = product_level.withColumn("StockValue", col("UnitPrice") * col("UnitsInStock"))

# transform the product_level data to supplier level data
highest_supplier = product_stock_value.groupBy("SupplierID").agg(sum("StockValue").alias("SupplierStockValue"))\
    .sort(desc("SupplierStockValue"))

highest_supplier.join(suppliers, on="SupplierID", how="left").show(1)

+----------+------------------+--------------------+--------------+-------------+--------------------+-----+------+----------+-------+---------------+---------------+--------+
|SupplierID|SupplierStockValue|         CompanyName|   ContactName| ContactTitle|             Address| City|Region|PostalCode|Country|          Phone|            Fax|HomePage|
+----------+------------------+--------------------+--------------+-------------+--------------------+-----+------+----------+-------+---------------+---------------+--------+
|        18|            5721.5|Aux joyeux ecclés...|Guylène Nodier|Sales Manager|203, Rue des Fran...|Paris|  null|     75004| France|(1) 03.83.00.68|(1) 03.83.00.62|    null|
+----------+------------------+--------------------+--------------+-------------+--------------------+-----+------+----------+-------+---------------+---------------+--------+
only showing top 1 row

### 21. How many employees are female?

In [264]:
employees.filter(col("Gender")=="Female").count()

4

### 22. How many employees are 60 years old or over?

In [283]:

employees.select("EmployeeID", to_date(col("BirthDate"), "dd-MM-yyyy").alias("BirthDate"))\
    .withColumn("CurrentDate", current_date())\
    .withColumn("Age", (round((datediff(col("CurrentDate"), col("BirthDate"))),2) / 365).cast("int"))\
    .where(col("Age").isNotNull())\
    .filter(col("Age") >= 60).count()

8

### 23. Which employee had the highest sales in 2022?

In [303]:
# filter the records where the order was placed in 2022
orders_2022 = orders.filter(year(to_date(col("OrderDate"), "dd-MM-yyyy")) == 2022)

# transform the order level data to employee level
highest_employee = orders_2022.groupBy("EmployeeID").agg(round(sum("_sales"),2).alias("SalesAmount"))\
    .sort(desc("SalesAmount"))

highest_employee.join(employees, on="EmployeeID", how='left').show(1)

+----------+-----------+--------+---------+--------------------+---------------+----------+----------+--------------------+-------+------+----------+-------+--------------+---------+--------------------+---------+--------------------+----------------+------+
|EmployeeID|SalesAmount|LastName|FirstName|               Title|TitleOfCourtesy| BirthDate|  HireDate|             Address|   City|Region|PostalCode|Country|     HomePhone|Extension|               Notes|ReportsTo|           PhotoPath|       Full Name|Gender|
+----------+-----------+--------+---------+--------------------+---------------+----------+----------+--------------------+-------+------+----------+-------+--------------+---------+--------------------+---------+--------------------+----------------+------+
|         4|    13230.8| Peacock| Margaret|Sales Representative|           Mrs.|19-09-1937|03-05-1993|4110 Old Redmond Rd.|Redmond|    WA|     98052|    USA|(206) 555-8122|     5176|Margaret holds a ...|        2|http://accweb/emm...|Margaret Peacock|Female|
+----------+-----------+--------+---------+--------------------+---------------+----------+----------+--------------------+-------+------+----------+-------+--------------+---------+--------------------+---------+--------------------+----------------+------+
only showing top 1 row

### 24. How many employees sold over $100k in 2023?

In [309]:
# filter the records where the order was placed in 2023
order_2023 = orders.filter(year(to_date(col("OrderDate"), "dd-MM-yyyy")) == 2023)

order_2023.groupBy("EmployeeID").agg(round(sum("_sales"),0).alias("SalesAmount")).sort(desc("SalesAmount"))\
    .filter(col("SalesAmount") > 100000).show()

+----------+-----------+
|EmployeeID|SalesAmount|
+----------+-----------+
|         4|   127890.0|
+----------+-----------+

### 25. How many employees got hired in 1994?

In [311]:
employees.filter(year(to_date(col("HireDate"), "dd-MM-yyyy")) == 1994).count()

3